In [2]:
# python -m pip install -–upgrade pip
# pip install nba_api
# pip install pandas

Collecting nba_api
  Downloading nba_api-1.1.13-py3-none-any.whl (255 kB)
     -------------------------------------- 255.2/255.2 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\parkm\anaconda3\lib\site-packages (from nba_api) (1.21.5)
Requirement already satisfied: requests in c:\users\parkm\anaconda3\lib\site-packages (from nba_api) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\parkm\anaconda3\lib\site-packages (from requests->nba_api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\parkm\anaconda3\lib\site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\parkm\anaconda3\lib\site-packages (from requests->nba_api) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\parkm\anaconda3\lib\site-packages (from requests->nba_api) (1.26.9)
Installing collected packages: nba_api
Successfully installed nba_api-1.1.13
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
import pprint as pp
import json

In [26]:
# career stats

from nba_api.stats.endpoints import PlayerCareerStats
career = PlayerCareerStats(player_id='203999')
# career.get_json()
# career.get_dict()
df = career.get_data_frames()[0]
df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,27.0,3,3,107.0,25,...,0.864,6,26,32,29,4,1,11,10,72

In [61]:
# still working on this

from nba_api.stats.endpoints import playerprofilev2

profile = playerprofilev2(player_id='203999')
df = profile.get_data_frames()[0]
df

TypeError: 'module' object is not callable

In [60]:
## get team names

from nba_api.stats.static import teams
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:30]
df = pd.DataFrame(nba_teams)
df

Number of teams fetched: 30

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [57]:
## get player info
from nba_api.stats.endpoints import commonplayerinfo

player_info = commonplayerinfo.CommonPlayerInfo(player_id='1629012')
player_info_df = player_info.get_data_frames()[0]
player_info_df

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1629012,Collin,Sexton,Collin Sexton,"Sexton, Collin",C. Sexton,collin-sexton,1999-01-04T00:00:00,Alabama,USA,...,collin_sexton,2018,2022,N,Y,Y,2018,1,8,N

In [35]:
## players and IDs

from nba_api.stats.static import players

players = players.get_players()
players

player_ids = [x['id'] for x in players]
player_ids

[76001,
 76002,
 76003,
 51,
 1505,
 949,
 76005,
 76006,
 76007,
 203518,
 1630173,
 101165,
 76008,
 76009,
 76010,
 203112,
 76011,
 76012,
 200801,
 1629121,
 203919,
 149,
 203500,
 912,
 1628389,
 1629061,
 76015,
 202399,
 201167,
 1630534,
 200772,
 76016,
 201336,
 76017,
 201582,
 76018,
 203006,
 1629152,
 202374,
 76019,
 76020,
 1630583,
 203128,
 202332,
 200746,
 76021,
 1626146,
 724,
 2042,
 76022,
 201570,
 1629734,
 1630234,
 2349,
 1629638,
 76024,
 1628959,
 76028,
 1628960,
 1628386,
 706,
 1628443,
 202730,
 76027,
 2124,
 76025,
 951,
 2754,
 76029,
 200984,
 76030,
 201165,
 308,
 1747,
 1824,
 1630631,
 680,
 732,
 202329,
 200811,
 76034,
 2365,
 2431,
 101187,
 202079,
 76035,
 76036,
 1507,
 76037,
 944,
 246,
 202341,
 76040,
 1626147,
 72,
 76041,
 203937,
 76042,
 76043,
 98,
 76045,
 76046,
 201583,
 1000,
 335,
 76048,
 101149,
 76049,
 1628387,
 76050,
 1512,
 203507,
 1628961,
 203648,
 2546,
 1630175,
 21,
 201202,
 203544,
 1628384,
 203951,
 2737,
 76053,
 76054,
 2425,
 1627853,
 76055,
 2240,
 2772,
 76056,
 76057,
 769,
 76061,
 2220,
 353,
 200756,
 76060,
 76059,
 76062,
 76063,
 76064,
 2306,
 201589,
 76065,
 1628503,
 201600,
 355,
 173,
 76068,
 76069,
 1088,
 76070,
 76071,
 278,
 201571,
 200788,
 1134,
 76073,
 76074,
 1630166,
 138,
 76076,
 1895,
 76078,
 1630555,
 202970,
 201965,
 1629028,
 101235,
 1628962,
 203569,
 202337,
 76079,
 76080,
 1628407,
 76081,
 2053,
 76082,
 1628963,
 76084,
 76083,
 76085,
 1847,
 1753,
 203946,
 1858,
 2486,
 76089,
 1627758,
 452,
 1627735,
 1631116,
 200764,
 76090,
 1630163,
 1629071,
 1628366,
 76091,
 76092,
 1628964,
 1631094,
 1630217,
 76093,
 2556,
 76094,
 76095,
 1630625,
 1627760,
 76096,
 2571,
 76097,
 200826,
 200745,
 76098,
 76099,
 787,
 2057,
 76102,
 1631230,
 203084,
 76103,
 76105,
 76104,
 2440,
 1630567,
 76107,
 76106,
 76108,
 76109,
 76110,
 76111,
 76112,
 76113,
 2857,
 76114,
 1629628,
 2853,
 344,
 699,
 1003,
 468,
 600013,
 76117,
 76118,
 203115,
 101188,
 76119,
 101138,
 1628238,
 76120,
 1629646,
 1766,
 2370,
 76121,
 1628966,
 101212,
 2471,
 1499,
 2203,
 174,
 76123,
 76124,
 201587,
 76125,
 76126,
 2437,
 201573,
 76127,
 203382,
 76128,
 203145,
 1629647,
 76129,
 203078,
 76130,
 76131,
 2602,
 1627736,
 201563,
 76133,
 201958,
 1630699,
 76134,
 1133,
 76136,
 76137,
 76138,
 76139,
 76140,
 76141,
 201158,
 2294,
 76142,
 1628395,
 1952,
 2559,
 76143,
 76144,
 1627761,
 76145,
 76146,
 1627733,
 1886,
 203968,
 104,
 1736,
 203461,
 1120,
 712,
 76151,
 76148,
 76152,
 128,
 202728,
 76154,
 1627791,
 76155,
 76156,
 1631262,
 76157,
 76158,
 1629541,
 202722,
 76159,
 696,
 201976,
 1630180,
 1630189,
 204021,
 76160,
 76161,
 76162,
 1710,
 76163,
 2740,
 76164,
 76165,
 1497,
 76166,
 1631234,
 76167,
 203920,
 1628444,
 76168,
 1449,
 76170,
 76171,
 1629048,
 202687,
 202357,
 76172,
 76173,
 76174,
 204028,
 76175,
 76176,
 76180,
 76177,
 1806,
 76179,
 201971,
 2581,
 202392,
 1628469,
 200807,
 76182,
 76183,
 76184,
 101154,
 302,
 202339,
 1629833,
 76186,
 76187,
 76188,
 1628417,
 916,
 1548,
 203505,
 1629129,
 76189,
 76190,
 2800,
 76191,
 1631205,
 76192,
 2586,
 203992,
 202711,
 177,
 101106,
 1564,
 1629626,
 76195,
 1628413,
 1629716,
 76196,
 1630195,
 1627762,
 76197,
 76203,
 76198,
 1603,
 1629648,
 1121,
 1629067,
 76201,
 41,
 2588,
 1626164,
 511,
 202344,
 200767,
 76204,
 1916,
 1522,
 76206,
 2430,
 2414,
 76207,
 1953,
 76209,
 76210,
 2547,
 76211,
 1630527,
 76212,
 76213,
 1628449,
 1630547,
 2257,
 1631123,
 76214,
 1898,
 1477,
 1763,
 1628968,
 194,
 76217,
 1085,
 1629065,
 76219,
 671,
 76221,
 76222,
 76223,
 1863,
 76224,
 76225,
 200841,
 76226,
 202342,
 76227,
 76228,
 76229,
 202340,
 76233,
 76230,
 76231,
 76232,
 2214,
 762,
 1628396,
 1361,
 66,
 1765,
 1920,
 76237,
 1882,
 210,
 1631103,
 76238,
 76239,
 76240,
 1629714,
 76241,
 76242,
 76243,
 1631128,
 1629649,
 160,
 2452,
 76245,
 76246,
 76247,
 201147,
 2249,
 76248,
 76249,
 200758,
 2056,
 76250,
 783,
 76252,
 76253,
 1628969,
 1628970,
 76254,
 1628578,
 76255,
 1628515,
 76256,
 1629052,
 76257,
 76258,
 76259,
 76260,
 76261,
 201972,
 1629151,
 76262,
 1627763,
 76263,
 76264,
 201166,
 1629717,
 1628415,
 76265,
 202705,
 76266,
 418,
 2810,
 1626148,
 76284,
 201628,
 1628971,
 359,
 2245,
 76270,
 244,
 200793,
 201974,
 2484,
 2081,
 76272,
 1631122,
 76273,
 1871,
 76275,
 203913,
 1627759,
 76276,
 2208,
 1631112,
 2198,
 76278,
 76279,
 203485,
 992,
 203900,
 1479,
 1629650,
 76277,
 136,
 753,
 76282,
 76283,
 76286,
 200769,
 76285,
 1628425,
 2357,
 76268,
 1630535,
 1629718,
 1630602,
 1628972,
 76287,
 76288,
 1628973,
 1594,
 1627852,
 1629091,
 76289,
 76290,
 977,
 95,
 1628418,
 76291,
 76292,
 1629783,
 76293,
 76294,
 76295,
 1761,
 76296,
 76297,
 201978,
 76298,
 146,
 1934,
 672,
 203493,
 76300,
 76301,
 76302,
 76303,
 2469,
 203504,
 76304,
 202692,
 2766,
 101207,
 76305,
 76306,
 76307,
 76308,
 76309,
 197,
 76311,
 675,
 76313,
 1629126,
 76314,
 416,
 76316,
 76317,
 202221,
 76318,
 76319,
 2406,
 202364,
 76320,
 2866,
 1630215,
 202710,
 348,
 2446,
 202779,
 201182,
 101115,
 101198,
 76321,
 76322,
 76323,
 2560,
 76324,
 203998,
 1629719,
 679,
 262,
 1631288,
 76326,
 201979,
 101181,
 154,
 76328,
 76329,
 203484,
 76331,
 76330,
 76332,
 76333,
 76334,
 76335,
 76336,
 76337,
 948,
 1630267,
 922,
 76338,
 203477,
 1628427,
 1629962,
 76339,
 203991,
 202382,
 2073,
 1630176,
 76340,
 76341,
 2367,
 76342,
 76343,
 76344,
 76345,
 200760,
 76346,
 156,
 76348,
 713,
 1757,
 76350,
 76351,
 76352,
 201960,
 76353,
 2679,
 1131,
 1853,
 76355,
 76356,
 76357,
 76358,
 76359,
 1628975,
 2466,
 76360,
 76361,
 1713,
 1628976,
 203487,
 76362,
 76363,
 1627936,
 76364,
 208,
 201956,
 76365,
 767,
 76367,
 1509,
 76368,
 1626161,
 1628505,
 190,
 1628463,
 76370,
 1629958,
 76,
 1911,
 76373,
 2763,
 201596,
 76374,
 76375,
 76376,
 1472,
 1630577,
 1630551,
 76378,
 1631113,
 2199,
 201163,
 76379,
 76380,
 364,
 76382,
 76383,
 76384,
 1629147,
 384,
 1629597,
 76385,
 76386,
 203805,
 76387,
 432,
 2735,
 719,
 164,
 1629185,
 76391,
 76392,
 1627737,
 76393,
 76394,
 76395,
 57,
 1631108,
 202091,
 1626176,
 203902,
 1630528,
 203565,
 928,
 76397,
 76398,
 201947,
 1629109,
 203546,
 1721,
 1629634,
 1626262,
 203903,
 1628492,
 201964,
 1127,
 1629651,
 2049,
 76402,
 2043,
 76403,
 1629598,
 1628499,
 76404,
 76406,
 1569,
 76407,
 76408,
 76409,
 1629599,
 76410,
 76411,
 715,
 202708,
 76412,
 934,
 76413,
 76414,
 76415,
 902,
 2044,
 76416,
 76418,
 76421,
 1530,
 2260,
 2215,
 76419,
 1628381,
 200776,
 202395,
 1628380,
 1627858,
 201954,
 2555,
 76422,
 1629045,
 2173,
 306,
 76425,
 76426,
 76427,
 76428,
 201144,
 76429,
 55,
 1626192,
 76431,
 76432,
 101215,
 76433,
 76434,
 76438,
 2567,
 201161,
 76435,
 76436,
 76437,
 2241,
 1626188,
 1629076,
 1628429,
 76439,
 76440,
 204022,
 76442,
 1030,
 76443,
 76444,
 1630536,
 76441,
 76446,
 203142,
 76447,
 76448,
 895,
 76450,
 76451,
 76452,
 1627822,
 76453,
 76454,
 1627856,
 203955,
 76456,
 1526,
 76457,
 76458,
 76459,
 1432,
 202408,
 202326,
 600003,
 203496,
 76462,
 76463,
 76464,
 76465,
 203459,
 1628470,
 1544,
 76466,
 2037,
 201621,
 202348,
 1628249,
 76468,
 76469,
 76470,
 2343,
 76471,
 76472,
 201159,
 76473,
 76474,
 76475,
 1506,
 76476,
 76477,
 76478,
 76479,
 180,
 76481,
 76482,
 203109,
 1630622,
 1629633,
 1629600,
 76483,
 187,
 1907,
 76487,
 1630595,
 201967,
 76485,
 203099,
 1061,
 76488,
 76489,
 940,
 223,
 76492,
 209,
 2201,
 201191,
 688,
 203552,
 201939,
 687,
 76505,
 76496,
 76497,
 2223,
 76498,
 956,
 76499,
 76500,
 1498,
 1630700,
 2845,
 1380,
 2605,
 76502,
 203584,
 390,
 76504,
 76506,
 76507,
 212,
 76509,
 1630268,
 76511,
 203540,
 921,
 1600,
 201176,
 76514,
 203561,
 203076,
 213,
 76515,
 1884,
 989,
 76538,
 76533,
 76516,
 76517,
 76518,
 76519,
 905,
 1627738,
 76521,
 202334,
 76522,
 1023,
 201175,
 76523,
 93,
 76524,
 76525,
 76526,
 1631098,
 2668,
 707,
 76528,
 76529,
 76530,
 76531,
 76520,
 200781,
 76532,
 1729,
 76534,
 1629056,
 426,
 1629093,
 76536,
 1453,
 ...]

In [59]:
## get player info for all player IDs
## still working on this

from nba_api.stats.endpoints import commonplayerinfo

name = []
birthdate = []
school = []
country = []
from_year = []
to_year = []
draft_year = []
draft_number = []


for i in player_ids[:3]:

    record = commonplayerinfo.CommonPlayerInfo(player_id=i)
    df = record.get_json()
    df = json.loads(df)

print(list(player_info_df))

['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']