In [1]:
import requests
import pandas as pd
import json
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [28]:
state = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL',
        'GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME',
        'MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ',
        'NM','NY','NC','ND','MP','OH','OK','OR','PA','PR','RI',
        'SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY']

# abbr = ['AL','AK']

In [57]:
birth_data = []

for abbr in state:
    print(abbr)
    
    url = f'https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state={abbr}'
    html = urlopen(url)
    soup = BeautifulSoup(html, features='lxml')
    
    try:
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    except Exception as e:
        print(e)
        pass
    try:
        rows = soup.findAll('tr')[2:]
    except Exception as e:
        print(e)
        pass
    try:
        rows_data = [[td.getText() for td in rows[i].findAll('td')]for i in range(len(rows))]
    except Exception as e:
        print(e)
        pass
        
    last_year = 2022
    for i in range(0, len(rows_data)):
        rows_data[i].insert(0, last_year)
        last_year -=1
        
    df = pd.DataFrame(rows_data, columns = headers)
    df['State'] = abbr
    
    birth_data.append(df)
    
birth_data = pd.concat(birth_data)

AL
AK
AS
list index out of range
AZ
AR
CA
CO
CT
DE
DC
FL
GA
GU
list index out of range
HI
ID
IL
IN
IA
KS
KY
LA
ME
MD
MA
MI
MN
MS
MO
MT
NE
NV
NH
NJ
NM
NY
NC
ND
MP
list index out of range
OH
OK
OR
PA
PR
list index out of range
RI
SC
SD
TN
TX
UT
VT
list index out of range
VA
VI
list index out of range
WA
WV
WI
WY

In [58]:
birth_data

,Rk,Player,Yrs,From,To,G,MP,FG,FGA,3P,...,FG%,3P%,FT%,MP,PTS,TRB,AST,Date,City,State
0,2022,Michael Ansley,3,1990,1992,149,2143,383,746,0,...,.513,,.722,14.4,6.9,4.2,0.4,"Feb 8, 1967",Birmingham,AL
1,2021,Keith Askins,9,1991,1999,486,7983,677,1688,275,...,.401,.355,.717,16.4,3.8,2.9,0.8,"Dec 15, 1967",Athens,AL
2,2020,Carl Bailey,1,1982,1982,1,7,1,1,0,...,1.000,,,7.0,2.0,0.0,0.0,"Apr 23, 1958",Birmingham,AL
3,2019,Charles Barkley*,16,1985,2000,1073,39330,8435,15605,538,...,.541,.266,.735,36.7,22.1,11.7,3.9,"Feb 20, 1963",Leeds,AL
4,2018,Eric Bledsoe,12,2011,2022,756,21021,3689,8169,854,...,.452,.336,.784,27.8,13.7,3.9,4.7,"Dec 9, 1989",Birmingham,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2020,Vern Gardner,3,1950,1952,151,507,514,1493,,...,.344,,.748,18.8,8.9,4.0,1.6,"May 14, 1925",Afton,WY
3,2019,James Johnson,14,2010,2023,748,15327,2283,4814,378,...,.474,.302,.679,20.5,7.7,3.6,2.1,"Feb 20, 1987",Cheyenne,WY
4,2018,John Pilch,1,1952,1952,9,41,1,10,,...,.100,,.500,4.6,0.6,1.0,0.2,"Jul 11, 1925",Sheridan,WY
5,2017,Moe Radovich,1,1953,1953,4,33,5,13,,...,.385,,1.000,8.3,3.5,0.3,2.0,"May 5, 1929",Hot Springs,WY
6,2016,Floyd Volker,1,1950,1950,54,,163,527,,...,.309,,.550,,7.4,,2.1,"Jun 21, 1921",Casper,WY

In [5]:
cols = ['Player','Yrs','From','To','Date','City','State']
birth_data = birth_data.loc[:,cols]
birth_data

              Player Yrs  From    To          Date         City State
0     Michael Ansley   3  1990  1992   Feb 8, 1967   Birmingham    AL
1       Keith Askins   9  1991  1999  Dec 15, 1967       Athens    AL
2        Carl Bailey   1  1982  1982  Apr 23, 1958   Birmingham    AL
3   Charles Barkley*  16  1985  2000  Feb 20, 1963        Leeds    AL
4       Eric Bledsoe  12  2011  2022   Dec 9, 1989   Birmingham    AL
..               ...  ..   ...   ...           ...          ...   ...
2       Vern Gardner   3  1950  1952  May 14, 1925        Afton    WY
3      James Johnson  14  2010  2023  Feb 20, 1987     Cheyenne    WY
4         John Pilch   1  1952  1952  Jul 11, 1925     Sheridan    WY
5       Moe Radovich   1  1953  1953   May 5, 1929  Hot Springs    WY
6       Floyd Volker   1  1950  1950  Jun 21, 1921       Casper    WY

[4428 rows x 7 columns]

In [6]:
birth_data.to_csv('output/us_born.csv')

In [49]:
country = ['AO','AG','AR','AU','AT','BS','BE','BA','BR','BG','CM','CA','CV','CN','CO',
        'HR','CU','CZ','CD','DK','DM','DO','EG','EE','FI','FR','GF','GA','GE','DE',
        'GH','GR','GP','GN','GY','HT','HU','IS','IE','IR','IL','IT','JM','JP','LV','LB',
        'LT','LU','ML','MQ','MX','ME','MA','NL','NZ','NG','NO','PA','PL','PT','PR','KR','MK',
        'CG','RO','RU','LC','VC','SN','RS','SK','SI','ZA','SS','ES','SD','SE','CH','TW',
        'TT','TN','TR','VI','UA','GB','TZ','UY','VE']

ca_state = ['MB','NS','ON','QC','SK','BC']

In [50]:
def get_player_info(url, co, co_birth_data):
    print(co)
    headers = []
    rows_data = []

    html = urlopen(url)
    soup = BeautifulSoup(html, features='lxml')
    
    try:
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
        rows = soup.findAll('tr')[2:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]for i in range(len(rows))]
    except Exception as e:
        print(e)
        pass
        
    last_year = 2022
    for i in range(0, len(rows_data)):
        rows_data[i].insert(0, last_year)
        last_year -=1
        
    df = pd.DataFrame(rows_data, columns = headers)
    df['Country'] = co
    
    co_birth_data = co_birth_data.append(df)
    return co_birth_data

In [51]:
co_birth_data = pd.DataFrame()

for co in country:
    
    if co == 'CA':
        for st in ca_state:
            url = f'https://www.basketball-reference.com/friv/birthplaces.fcgi?country={co}&state={st}'
            co_birth_data = get_player_info(url, co, co_birth_data)
    else:
        url = f'https://www.basketball-reference.com/friv/birthplaces.fcgi?country={co}&state='
        co_birth_data = get_player_info(url, co, co_birth_data)

AO
AG
AR

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

AU
AT
BS

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

BE
BA

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

BR
BG
CM

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

CA
CA

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

CA
CA

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

CA
CA

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

CV
CN
CO

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

HR
CU

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

CZ
CD

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

DK
DM
DO

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

EG
EE

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

FI
FR
GF

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

GA
GE

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

DE

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

GH
GR
GP
GN
GY

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

HT
HU

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

IS
IE
IR

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

IL
IT

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

JM
JP
LV

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

LB
LT

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

LU
ML
MQ
MX
ME

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

MA
NL

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

NZ
NG

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

NO
PA

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

PL
PT

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

PR
KR

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

MK
CG
RO

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

RU
LC
VC

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

SN
RS

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

SK

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

SI
ZA
SS
ES
SD

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

SE
CH
TW

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

TT
TN
TR

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

VI
UA
GB

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)
C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

TZ
UY
VE

C:\Users\parkm\AppData\Local\Temp\ipykernel_76264\4008382550.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  co_birth_data = co_birth_data.append(df)

In [53]:
co_birth_data

,Rk,Player,Yrs,From,To,G,MP,FG,FGA,3P,...,FG%,3P%,FT%,MP,PTS,TRB,AST,Date,City,Country
0,2022,Bruno Fernando,4,2020,2023,121,1128,162,304,6,...,.533,.146,.606,9.3,3.2,2.8,0.6,"Aug 15, 1998",Luanda,AO
0,2022,Norvel Pelle,3,2020,2022,40,335,36,68,0,...,.529,.000,.550,8.4,2.1,2.4,0.3,"Feb 3, 1993",St. John's,AG
0,2022,Leandro Bolmaro,2,2022,2023,36,242,17,54,5,...,.315,.278,.846,6.7,1.4,1.2,0.6,"Sep 11, 2000",Las Varillas,AR
1,2021,Nicolás Brussino,2,2017,2018,58,531,52,143,29,...,.364,.299,.773,9.2,2.6,1.7,0.8,"Mar 2, 1993",Santa Fe,AR
2,2020,Facundo Campazzo,3,2021,2023,131,2622,228,615,135,...,.371,.328,.828,20.0,5.6,1.9,3.5,"Mar 23, 1991",Córdoba,AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,2010,Admiral Schofield,2,2020,2022,71,837,89,221,45,...,.403,.321,.733,11.8,3.5,1.9,0.6,"Mar 30, 1997",London,GB
0,2022,Hasheem Thabeet,5,2010,2014,224,2357,182,321,0,...,.567,,.578,10.5,2.2,2.7,0.1,"Feb 16, 1987",Dar es Salaam,TZ
0,2022,Esteban Batista,2,2006,2007,70,576,42,96,0,...,.438,.000,.617,8.2,1.7,2.5,0.2,"Sep 2, 1983",Montevideo,UY
0,2022,Óscar Torres,2,2002,2003,82,1184,151,377,44,...,.401,.317,.768,14.4,5.4,1.6,0.5,"Dec 18, 1976",Caracas,VE
1,2021,Greivis Vásquez,7,2011,2017,401,9520,1378,3297,412,...,.418,.349,.817,23.7,9.0,2.5,4.8,"Jan 16, 1987",Caracas,VE

In [55]:
co_cols = ['Player','Yrs','From','To','Date','City','Country']
co_birth_data = co_birth_data.loc[:,co_cols]
co_birth_data

               Player Yrs  From    To          Date           City Country
0      Bruno Fernando   4  2020  2023  Aug 15, 1998         Luanda      AO
0        Norvel Pelle   3  2020  2022   Feb 3, 1993     St. John's      AG
0     Leandro Bolmaro   2  2022  2023  Sep 11, 2000   Las Varillas      AR
1    Nicolás Brussino   2  2017  2018   Mar 2, 1993       Santa Fe      AR
2    Facundo Campazzo   3  2021  2023  Mar 23, 1991        Córdoba      AR
..                ...  ..   ...   ...           ...            ...     ...
12  Admiral Schofield   2  2020  2022  Mar 30, 1997         London      GB
0     Hasheem Thabeet   5  2010  2014  Feb 16, 1987  Dar es Salaam      TZ
0     Esteban Batista   2  2006  2007   Sep 2, 1983     Montevideo      UY
0        Óscar Torres   2  2002  2003  Dec 18, 1976        Caracas      VE
1     Greivis Vásquez   7  2011  2017  Jan 16, 1987        Caracas      VE

[821 rows x 7 columns]

In [56]:
co_birth_data.to_csv('output/non_us_born.csv')